<div class="bg-cover bg-center h-auto text-white py-48 px-10 object-fill" style="background-image: url(https://res.cloudinary.com/ddyzsltco/image/upload/v1654878150/277784430_2002838919908520_2653724370143722252_n_yxlvmq.jpg)">
  <div class="md:w-1/2">
  <p class="text-3xl font-bold uppercase">Super Tortas Tampico</p>
  <p class="text-3xl font-bold uppercase">Desde 1991</p>
  <p class="text-4xl mb-10 mt-4 font-bold leading-none uppercase">¿Quieres realizar un pedido?</p>
  <a href="#" class="bg-red-600 py-4 px-8 text-white font-bold uppercase text-xs rounded hover:bg-gray-200 hover:text-gray-800">Llamanos</a>
  </div>
</div>
