<div class="footer">
  <div class="footer-copyright">
    SUPER TORTAS TAMPICO
  </div>
  <div class="footer-links">
    <a href="https://www.instagram.com/supertortastampico/?hl=es"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/SuperTortasTampico"><i class="fab fa-facebook"></i></a>
  </div>
</div>
