<div>
  <div class="banner">
    <img src="https://res.cloudinary.com/ddyzsltco/image/upload/v1654878295/74175195_1252001204992299_30907409295736832_n_xmr1n0.jpg" alt="">
  </div>
  <div class="menu">
    <h1>Nuestro Menu</h1>
    <div>
      <img src="https://res.cloudinary.com/ddyzsltco/image/upload/v1662764949/Picture1_nzexep.png" alt="">
    </div>
  </div>

</div>
