<div>
  <div class="banner">
      <%= render "shared/carousel" %>
  </div>
  <div class="menu">
    <div class="menu-container">
      <h1>Menu</h1>

    </div>
    <div class="cards">
      <div class="card-item">
        <div class="card-category" style="background-image: url(https://res.cloudinary.com/ddyzsltco/image/upload/v1654879922/189365924_1765770280282053_4322459222038471714_n_zgsqfn.jpg)">
        </div>
        <p>DE TERNERA</p>
      </div>
      <div class="card-item">
        <div class="card-category" style="background-image: url(https://res.cloudinary.com/ddyzsltco/image/upload/v1662765409/Picture2_tfn4v7.png)">
        </div>
        <p>DE LA BARDA ESPECIAL</p>
      </div>
      <div class="card-item">
        <div class="card-category" style="background-image: url(https://res.cloudinary.com/ddyzsltco/image/upload/v1662765410/Picture3_wtymbi.png)">
        </div>
        <p>DE PIERNA</p>
      </div>
      <div class="card-item">
        <div class="card-category" style="background-image: url(https://res.cloudinary.com/ddyzsltco/image/upload/v1662765409/Picture2_tfn4v7.png)">
        </div>
        <p>DE LA BARDA CLASICA</p>
      </div>
    </div>
  </div>
  <div class="ubication">
    <div class="ubication-container">
      <h1>Ubicacion</h1>
      <i class="fa-sharp fa-solid fa-location-dot"></i>
      <i class="fa-thin fa-plate-utensils"></i>
    </div>

    <div class="map">
      <div class="mapouter">
        <div class="gmap_canvas">
          <iframe width="1080" height="585" id="gmap_canvas" src="https://maps.google.com/maps?q=Super%20Tortas%20Tampico,%2096400,%20Av%20Hermenegildo%20Galeana%20100,%20Centro,%20Coatzacoalcos,%20Ver.,%20Mexico&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://123movies-to.org"></a><br><style>.mapouter{position:relative;text-align:right;height:585px;width:1080px;}</style><a href="https://www.embedgooglemap.net">google maps html generator</a><style>.gmap_canvas {overflow:hidden;background:none!important;height:585px;width:1080px;}</style>
        </div>
      </div>
    </div>
  </div>
  <div class="novedades">
    <h1>Novedades</h1>

  </div>
</div>
