<div>
  <div class="banner">
    <img src="https://res.cloudinary.com/ddyzsltco/image/upload/v1654878295/74175195_1252001204992299_30907409295736832_n_xmr1n0.jpg" alt="">
  </div>
  <div class="menu">
    <h1>Nuestros Productos</h1>
    <div class="cards">
      <div class="card-item">
        <div class="card-category" style="background-image: url(https://res.cloudinary.com/ddyzsltco/image/upload/v1662764949/Picture1_nzexep.png)">
        </div>
        <p>DE TERNERA</p>
      </div>
      <div class="card-item">
        <div class="card-category" style="background-image: url(https://res.cloudinary.com/ddyzsltco/image/upload/v1662765409/Picture2_tfn4v7.png)">
        </div>
        <p>DE LA BARDA ESPECIAL</p>
      </div>
      <div class="card-item">
        <div class="card-category" style="background-image: url(https://res.cloudinary.com/ddyzsltco/image/upload/v1662765410/Picture3_wtymbi.png)">
        </div>
        <p>DE PIERNA</p>
      </div>
      <div class="card-item">
        <div class="card-category" style="background-image: url(https://res.cloudinary.com/ddyzsltco/image/upload/v1662765409/Picture2_tfn4v7.png)">
        </div>
        <p>DE LA BARDA CLASICA</p>
      </div>
    </div>
  </div>
  <div class="ubication">
    <h1>UBICACION</h1>
  </div>
</div>
