<div>
  <div class="banner">
      <%= render "shared/carousel" %>
  </div>
  <div class="menu">
    <h1>Nuestros Productos</h1>
    <div class="cards">
      <div class="card-item">
        <div class="card-category" style="background-image: url(https://res.cloudinary.com/ddyzsltco/image/upload/v1654879922/189365924_1765770280282053_4322459222038471714_n_zgsqfn.jpg)">
        </div>
        <p>DE TERNERA</p>
      </div>
      <div class="card-item">
        <div class="card-category" style="background-image: url(https://res.cloudinary.com/ddyzsltco/image/upload/v1662765409/Picture2_tfn4v7.png)">
        </div>
        <p>DE LA BARDA ESPECIAL</p>
      </div>
      <div class="card-item">
        <div class="card-category" style="background-image: url(https://res.cloudinary.com/ddyzsltco/image/upload/v1662765410/Picture3_wtymbi.png)">
        </div>
        <p>DE PIERNA</p>
      </div>
      <div class="card-item">
        <div class="card-category" style="background-image: url(https://res.cloudinary.com/ddyzsltco/image/upload/v1662765409/Picture2_tfn4v7.png)">
        </div>
        <p>DE LA BARDA CLASICA</p>
      </div>
    </div>
  </div>
  <div class="ubication">
    <h1>UBICACION</h1>
  </div>
</div>
