<div>
  <div class="banner">
    <img src="https://res.cloudinary.com/ddyzsltco/image/upload/v1654878295/74175195_1252001204992299_30907409295736832_n_xmr1n0.jpg" alt="">
  </div>
  <div class="menu">
    <h1>Nuestros Productos</h1>
    <div class="product">
      <img src="https://res.cloudinary.com/ddyzsltco/image/upload/v1662764949/Picture1_nzexep.png" alt="">
      <p>De Ternera</p>
    </div>
    <div class="product">
      <img src="https://res.cloudinary.com/ddyzsltco/image/upload/v1662765409/Picture2_tfn4v7.png" alt="">
      <p>De la barda especial</p>
    </div>
    <div class="product">
      <img src="https://res.cloudinary.com/ddyzsltco/image/upload/v1662765410/Picture3_wtymbi.png" alt="">
      <p>De Pierna</p>
    </div>
  </div>

</div>
