.banner img {
  height: auto;
  width: auto;
}

.menu, .ubication {
  padding: 60px;
  display: flex;
  flex-direction: column;
}

.menu h1, .ubication h1 {
  font-size: 90px;
  font-family: 'Bebas Neue', cursive;
  color: rgb(196, 50, 50);
  align-self: center;
  font-weight: 600;
}

.product {
  display: flex;
}
